DB_DRIVER=ODBC Driver 17 for SQL Server
DB_SERVER=localhost
DB_NAME=QLSV_TrungTamTinHoc
DB_TRUSTED_CONNECTION=yes
FLASK_SECRET_KEY=change-this-to-a-random-secret
# If not using trusted connection:
# DB_USER=sa
# DB_PASSWORD=YourStrongPassword
